@font-face {
  font-family: duneFont;
  src: url(../Dune_Rise.otf);
}
.navbar {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-bottom: 2px solid #1b1b1b;
  height: 67px;
}

.title {
  font-family: duneFont;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiktok {
  width: 50px;
}

.discord {
  width: 50px;
}
