* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

@font-face {
  font-family: duneFont;
  src: url(./Dune_Rise.otf);
}

body {
  background: rgb(12, 0, 51);
  background: linear-gradient(
    3deg,
    rgba(12, 0, 51, 1) 0%,
    rgba(201, 124, 0, 1) 100%
  );

  font-family: duneFont;
}

.navbar {
  overflow-y: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 300px;
}
.container {
  position: relative;
  margin-bottom: 40px;
}
.container img {
  max-width: 100%;
  z-index: -1;
}

form {
  position: absolute;
  top: 75%;
  left: 7%;
  width: 50%;
  height: 8%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button input {
  overflow-y: hidden;
  font-size: 22px;
  font-weight: 700;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid #1b1b1b;
  cursor: pointer;
  background-color: #c97c00;
}

.text {
  color: white;
}

.welcome {
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b1b1b61;
  margin-bottom: 20px;
}

.details {
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 0.7em;
  }

  .logo img {
    height: 150px;
  }

  form {
    height: 21%;
  }

  .button input {
    font-size: 1em;
  }

  .welcome {
    font-size: 1.74em;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  body {
    font-size: 0.7em;
  }

  .logo img {
    height: 150px;
  }

  form {
    height: 10%;
  }

  .button input {
    font-size: 1em;
  }

  .welcome {
    font-size: 1.74em;
  }
}

@media only screen and (min-width: 700px) {
  .logo img {
    height: 150px;
  }

  form {
    height: 13%;
  }

  .button input {
    font-size: 1em;
  }

  .welcome {
    font-size: 1.74em;
  }
}

@media only screen and (min-width: 800px) {
  form {
    height: 8%;
  }
}

@media only screen and (min-width: 1300px) {
  body {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    height: 7%;
  }

  .button input {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 2500px) {
  body {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}
